<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- title为变量 是模块的名字 -->
  <title>申请明细表</title>
    <script>window.coolLocals={}</script>
  <script src="../../scripts/cool-master/cool-master.js"></script>
</head>

<body>
  <div id="root" v-cloak> 
       <!--cool--view  cool--dialog  组件为固定组件 需模板生成-->
     <cool--view :unique-deploy-key="uniqueDeployKey" :axios-setting="axiosSetting" :dialogs="dialogs" :show-mode-list="showModeList" :is-methods="isMethods" @table-row-click="tableRowClick" @table-row-dblclick="tableRowDblclick"  @table-selection-change="tableSelectionChange"  @pagination-size-change="paginationSizeChange" @pagination-current-change="paginationCurrentChange" @get-condition="getCondition"></cool--view>
     <cool--dialog :unique-key="uniqueKey" :visible.sync="dialogVisible" :is-methods="isDialogMethods" @update-form="updateForm" @save-event="saveEvent"></cool--dialog>

  </div>
</body>
</html>